{% extends 'base.html' %}

{% block content %}
    <div class='col-md-6 col-md-offset-2'>
        <h1>About Me</h1>
        <p>  For the past three years I have developed applications for 
        Linux/Unix environments to include server user/system usage
        for trend tracking, user workflow scheduling and planning, and 
        system research and reporting. I have experience building web
        applications using MVC frameworks with a specific focus on Django. 
        My experience combines server side development, data structures and 
        SQL data modeling, real world data handling, system to system 
        communications, and UI development. My preference and knowledge
        are based around open source tools and development although I can
        also operate and develop on proprietary systems. I can maintain
        and develop unitttest code for both minimal and larger scale applications
        in order to test builds and assist in code documentation.
        I enjoy working collaboratively with developers and testers to create 
        products which fit client needs but can also set and accomplish 
        scrum goals on an individual level. I am passionate about learning
        and sharing knowledge, and have volunteered for Pixel Arts Game
        Education Foundation teaching coding as a mentor at their local
        game camps. Prior to focusing my efforts on becoming a professional nerd
        I spent my teenage years travelling the Unites States by way of 
        freight train and hitch hiking. I gained alot of experience thinking
        of creative ways to solve problems I faced such as obtaining maps 
        and learning the rail system without use of a smart phone GPS system.
        <BR>
        <BR>
        <BR> 
        Thank you for your time, 
        <BR> 
        -Jon</p>
    </div>
{% endblock %}
