{%extends 'base.html' %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class='container' >
        </div>
    </div>
{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}iwizard.jpg" alt="" >
                        <div class="caption">
                            <h3>IWIZARD LLC</h3>
                            <p>I started IWIZARD last year to provide consumer
                            electronic repairs such as iphones and macbooks.</p>
                            <p><a href="#" class="btn btn-default" role="button">Check it out!</a></p>
                        </div>
                    </div>
                </div>
            </div>
    <h1></h1>
{% endblock %}
